.fczrk{
    background: rgb(68,151,141);
    background: radial-gradient(circle, rgba(68,151,141,1) 18%, rgba(39,77,90,1) 96%, rgba(18,35,40,1) 100%);
    margin: 0px !important;
    text-align: center;
}